@font-face {
  font-family: 'Wedges';
  src: url('Wedges.ttf') format('truetype');
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
  --container-width: 58rem;
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --step-7: clamp(4.0311rem, 3.36rem + 3.3555vw, 5.9605rem);

  --color-dark: #333;
  --color-light: #f1f1f1;
  --color-primary: hsl(240, 67%, 40%);
  --color-secondary: hsl(281, 76%, 58%);
}

/* reset */

html,
body {
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: var(--step-1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Wedges', sans-serif;
  letter-spacing: 2px;
}

img {
  max-width: 100%;
  width: 100%;
}

/* header */

.site-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: var(--step-2);
  text-transform: uppercase;
  font-weight: 600;

  color: var(--color-light);
  background-color: var(--color-dark);
  border-bottom: 6px solid var(--color-primary);

  padding: 1rem;
}
.site-head a {
  color: inherit;
  text-decoration: none;
}
.site-head a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;

  padding: 0;
  margin: 0;
}

/* hero */

.hero {
  display: grid;
  grid-template-areas: "hero";
  place-items: center;
  max-height: 60vh;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.hero > * {
  grid-area: hero;
}
.hero-content h1 {
  font-size: var(--step-7);
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-secondary);
}
.hero-content h2 {
  font-size: var(--step-4);
}

.hero-image {
  max-height: 80vh;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

/* main content */
.container {
  width: min(100vw - 3rem, var(--container-width));
  margin-inline: auto;
}
.region {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

/* testimonials */
.testimonials {
  --container-width: 80rem;
}

.testimonials-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--step-4);
  margin: 0;
  padding: 0;
}

.testimonials-list li {
  flex: 1 1 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials img {
  border-radius: 5rem;
  aspect-ratio: 1;
  max-width: 50rem;
  max-height: 50rem;
}

/* footer */

.site-foot {
  color: var(--color-light);
  background-color: var(--color-primary);
}

.site-foot ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-foot p {
  margin-top: 3rem;
}

/* cards från genomgången */

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  border: 1px solid var(--color-primary);
  border-radius: 20px;

  max-width: 30%;

  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.card-content {
  padding: 1rem;
}